^{;:launch-js "headless-chrome"
  :ring-server-options {:port 9550}
  :open-url "http://[[server-hostname]]:[[server-port]]/test"
  :ring-handler active.clojure.figwheel/figwheel-test-handler
  :repl-eval-timeout 60000}
{:main active.clojure.figwheel-test-runner}
